@charset "UTF-8";
@import url('https://fonts.googleapis.com/css2?family=Passion+One:wght@400;700;900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Sriracha&display=swap');

:root {
    --fonte1: Verdana, Geneva, Tahoma, sans-serif;
    --fonte2:'Passion One', cursive;
    --fonte3:'Sriracha', cursive;
}

* {
    margin: 0px;
    padding: opx;
}

html, body {
    min-height: 100vh;
    background-color: darkgray;
    font-family: var(--fonte1);
}

header {
    background-color: black;
    color: white;
    text-align: center;
}

header > h1 {
    font-family: var(--fonte2);
    padding-top: 50px;
    font-variant: small-caps;
    font-size: 8.5vw;
}

header > p {
    padding-bottom: 50px;
}

header a, footer a {
    color: white;
    text-decoration: none;
    font-weight: bolder;
}

header a:hover, footer a:hover {
    text-decoration: underline;
}

section {
    padding-top: 10vh;
    padding-bottom: 10vh;
    line-height: 2em;
    padding-left: 30px;
    font-family: var(--fonte3);
    font-size: 3.5vw;
}

section > p {
    padding-bottom: 1em;
}

section.normal {
    background-color: white;
    color: black;
}

section.imagem {
    background-color: rgba(27, 27, 27, 0.822);
    color: white;
    background-size: cover;
    background-attachment: fixed;
    box-shadow: inset 6px 6px 13px 0px rgba(0, 0, 0, 0.39);
}

section.imagem > p {
    padding: 10px;
    display: inline-block;
    background-color: rgba(0, 0, 0, 0.445);
    text-shadow: 1px 1px 0px black;
}

section#img01 {
    background-image: url(../imagens/background001.jpg);
    background-position: right center;
    background-size: cover;
}

section#img02 {
    background-image: url(../imagens/background002.jpg);
    background-position: right center;
    background-size: cover;
}

footer {
    background-color: black;
    color: white;
    padding: 10px;
    text-align: center;
}